.row
  #primary.col-sm-7
    %h3 General Information
    %p I am currently looking for development work and enjoy working with a variety of technologies. Rails, SASS, Coffeescript, Google Maps API, I love it all!
    %p I make high quality websites using mobile-first responsive design and popular frameworks such as Bootstrap, jQuery and Ruby on Rails. Get in touch with me if this sounds like something you could use!
  #secondary.col-sm-5
    %h3 Contact Details
    %ul.contact-info
      %li.phone= link_to '601-415-9416', 'tel:601-415-9416'
      %li.email= link_to 'alex.howington@gmail.com', 'mailto:alex.howington@gmail.com'
      %li.twitter= link_to '@alexhowington', 'http://twitter.com/intent/tweet?screen_name=alexhowington'
