%h1.text-center Listing All Projects

- @projects.each do |project|
  %h2= link_to project.name, project
  %p= project.description
  %p= project.url

%p= link_to 'Add New Project', new_project_path, class: 'btn btn-primary', role: 'button'