<div id="footer">
  <div class="container text-center">
    <%= link_to image_tag('/images/twitter-wrap-white.png', alt: 'Twitter Logo', class: 'social-icon'), 'http://twitter.com/alexhowington' %>
    <%= link_to image_tag('/images/facebook-wrap-white.png', alt: 'Facebook Logo', class: 'social-icon'), 'http://facebook.com/alex.howington' %>
    <p>&copy; 2014 <%= link_to 'Wheatbox Studios', 'http://wheatboxstudios.com' %></p>
  </div>
</div>